<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Detection</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  <style></style>
  <body>
    <div>
      <div class="header">
        <logo>
          <a href="index.html" class="logo">PDetect</a>
        </logo>
      </div>
      <div style="text-align: center">
        <h1 style="font-size:50px">Detection</h1>
      <form method="POST", action="{{url_for('prediction')}}">
        <div class="selection">
        <label style="font-size: 22.5px">Biological Gender:</label>
        <select name="gender" id="gender">
          <option value="female">Male</option>
          <option value="male">Female</option></div></select
        ><br /><br />
      
      <div class="selection">
        <label style="font-size: 22.5px">Age:</label>
          <select name="age" id="age">
          <option value="young">0-40</option>
          <option value="41-50">41-50</option>
          <option value="51-60">51-60</option>
          <option value="61-70">61-70</option>
          <option value="71-80">71-80</option>
          <option value="80+">80+</option></div></select
          
        ><br /><br />
        <input type="submit", value='Next' style="font-size: 20px; width: 100px; padding: 10px; text-decoration: none; 
        background-color: #6FB7BC; margin: 10px; color: white; font-family: Inter; border: none;">
      </form>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.0/p5.js"></script>
      <script
        language="javascript"
        type="text/javascript"
        src="p5.scribble.js"
      ></script>
      <script src="script.js"></script>
    </div>
  </body>
</html>
