<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>PDetect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='css/main.css') }}"
  />
  <body>
    <div class="header">
      <logo>
        <a href="index.html" class="logo">PDetect</a>
      </logo>
      <script src="../script.js"></script>
      <h1 style="text-align: center">Welcome to PDetect Madlib!</h1>
      <form onsubmit="onSubmit()">
        <label
          >Close your eyes and imagine yourself walking independently. I have
        </label>
        <select name="symptoms" id="symptoms">
          <option value="1">a little</option>
          <option value="2">more than a little</option>
          <option value="3">a lot</option></select
        ><label>trouble balancing. I</label>
        <select name="stand" id="stand">
          <option value="1">can</option>
          <option value="2">cannot</option></select
        ><label>walk and I</label>
        <select name="wheelchair" id="wheelchair">
          <option value="2">do</option>
          <option value="1">do not</option></select
        ><label>need a wheelchair.</label>
        <input type="submit" value="Submit" class="buttons" />
      </form>
      <p>
        <a
          style="text-align: center"
          href="https://www.nhs.uk/conditions/parkinsons-disease/treatment/"
          >NHS</a
        >
      </p>
      <script>
        var symp = document.getElementById("symptoms");
        var symptoms = parseInt(symp.value);

        var st = document.getElementById("stand");
        var stand = parseInt(st.value);

        var wh = document.getElementById("wheelchair");
        var wheelchair = parseInt(wh.value);

        var total = symptoms + stand + wheelchair;
        var show;
        var desc;
        if (total >= 6) {
          show = "SEVERE";
          desc = ":0";
        } else if (total < 6 && total > 4) {
          show = "MODERATE";
          desc =
            "You've been down the road but haven't rolled yet so continue to practice the resources attached below.";
        } else {
          show = "MILD";
          desc =
            "Say it with me! Yaayyy! I'm all pumped up. That's pretty good, and I think I have energy for at least 4 more hills. I'm going to run and run and run! I can do this. I'm too youthful!!! I will keep up with my healthy mindset and happy soul. It's so nice to see the scale moving in the right direction. I am stable in all ways! LOOK! I can stand and walk gracefully and intently! I am able to control my momentum! To continue to prevent the futhering of Parkinson's, see the resources attached below.";
        }
        function onSubmit() {
          // p.innerHTML += "We have detected that you have mild symtoms."
          // document.getElementById(“result”).innerText +=  “data”;

          alert(
            `${total} We have detected that you have ${show} symtoms. ${desc}`
          );
        }
      </script>
    </div>
  </body>
</html>
